<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vehicle Registration Numbers Webapp</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <header>
        <div id="header">
            <a href=""><i class="fas fa-bars"></i></a>
            <h2>Registration Numbers Webapp</h2>
        </div>
    </header>
    {{{body}}}
    <footer>
        <div>
            <p></br>2018</br>projectcodex.co</p>
        </div>
    </footer>
</body>
<script src="/js/script.js"></script>

</html>