/* Page Wrapper */
.page-wrapper {
  width: 80%;
  height: 1000px;
  padding-top: 2%;
  margin: 0 auto;
  text-align: center;
}

/* Flash Messages */
.entry {
  width: 90%;
  height: auto;
  margin: 2em auto;
  text-align: center;
  border: 1px solid aquamarine;
  background-color: azure;
  color: cadetblue;
}

.entry p {
  padding: 10px;
}

/* Buttons */
.add-button {
  background-color: #3498DB;
  color: white;
  padding: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
}

#apply-filter {
  background-color: #3498DB;
  color: white;
  padding: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
}

/* Inputs */
#regNumber {
  height: 3.2em;
  text-align: center;
  border-radius: 18px;
  border-radius: 18px;
}

#selectFilter {
  height: 3em;
  border-radius: 18px;
}

/* Registation Numbers List */
.output-section ul {
  margin-top: 3em;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  list-style: none;
}

.registration_list li {
  float: left;
  width: 100px;
  height: auto;
  padding: 5px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 6px;
  background-color: yellow;
  text-align: center;
  margin: 10px;
}

@media (max-width: 400px) {

  /* Registation Numbers List */
  .output-section ul {
    margin-top: 3em;
    width: auto;
    height: auto;
    margin: 0 auto;
    list-style: none;
  }
}

@media (max-width: 850px) {
  .output-section ul {
    margin-top: 3em;
    width: auto;
    height: auto;
    margin: 0 auto;
    list-style: none;
  }
}