.page-wrapper{
    background-color: #a4a4a4;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .input-section {
    padding: 30px;
    text-align: center;
  }
  
  .registration-number-field{
    width:15em;
    height: 30px;
  }
  .filter-section{
    text-align: center;
  }
  
  .add-button{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .output-section{
    border-top: 5px solid #526589;
    background-color: #e4e4e4;
  }
  .output-section ul li{
    list-style: none;
    margin: 1em auto;
  }
  
  .registration_list {
    padding:20px;
  }
  .registration_list li {
    padding: 15px;
    border-radius: 18px;
    border: 3px solid black;
    width: 100px;
    height: auto;
    background-color: yellow;
    text-align: center;
  }
  
  .entry {
    border: 1px solid aquamarine;
    background-color: azure;
    height: auto;
    color: cadetblue;
  }
  .entry p {
    padding: 10px;
  }
  